.ac-container{
    width: 270px;
    height: 25px;
    margin: 10px auto 30px auto;
}


.ac-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #fff;
    line-height: 33px;
    font-size: 19px;
    background-color:#345360;
}

.ac-container label::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/ac-icon.png");
  margin-left: 100px;
  margin-top: 12px;
}

.ac-container--document label::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("../img/ac-icon.png");
  margin-left: 135px;
  margin-top: 12px;
}

.ac-container label:hover{
    background-color:#345360;
    color: #fff;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background-color:#345360;
    color: #fff;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background-image: url("../img/ac-icon.png");
    background-repeat: no-repeat;
    margin-top: 10px;
}


.ac-container input:checked{
    background-image: url("../img/ac-icon.png");
    background-repeat: no-repeat;
    margin-top: 10px;
}

.ac-container input:checked + label:hover:after{
    background-image: url("../img/ac-icon.png");
    margin-top: 10px;
    background-repeat: no-repeat;
}

.ac-container input{
    display: none;
}


.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article.ac-small{
    height: auto;
}
.ac-container input:checked ~ article.ac-medium{
    height: 180px;
}
.ac-container input:checked ~ article.ac-large{
    height: 230px;
}

.ac-container input[type="checkbox"] + label
{
  margin-bottom: 0;
}


.ac-container input[type="checkbox"] + label::before {

    display: none;

}
