.advantages
{
  background-color: $background-color;
  margin-top: -76px;
}

.advantages__title
{
  width: 400px;
  font-family: "ExoTwo-Light";
  font-size: 24px;
  color: #fff;
  margin: 0 auto;
  padding-top: 35px;
}

.advantages__title::after
{
  content: "";
  position: absolute;
  width: 155px;
  height: 2px;
  background-image: url("../img/line.png");
  margin-top: 50px;
  margin-left: -250px;
}

.advantages__all
{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
}

.advantages__all::after
{
  content: "";
  position: absolute;
  width: 651px;
  height: 2px;
  background-image: url("../img/big_line.png");
  margin-left: 200px;
  margin-top: 250px;
}

.advantages__block
{
  width: 250px;
  padding-bottom: 50px;
}

.advantages__img
{
  height: 70px;
  margin: 0 auto;
  text-align: center;
}

.advantages__description
{
  font-family: "ExoTwo-Light";
  font-size: 15px;
  color: #fff;
  padding-top: 20px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.advantages__item
{
  width: 250px;
  font-family: "ExoTwo-Light";
  font-size: 15px;
  color: #fff;
  margin-top:90px;
}


.advantges__blocks
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.part
{
  width: 280px;
}

.part:nth-child(2)
{
  margin-left: 80px;
}

.part:nth-child(3)
{
  margin-left: 80px;
}

.part__title
{
  font-family: "ExoTwo-Regular";
  font-size: 18px;
  color: #fff;
}

.part--education .part__title
{
  position: relative;
  bottom: 27px;
  left: 25px;
}

.part--individual .part__title
{
  width: 175px;
  position: relative;
  bottom: 17px;
  left: 20px;
}

.part--class .part__title
{
  width: 130px;
  position: relative;
  left: 25px;
  top: 10px;
}

.part__description
{
  font-family: "ExoTwo-Regular";
  font-size: 15px;
  color: #fff;
}

.part--education .part__description
{
  width: 300px;
  position: relative;
  bottom: 12px;
  bottom: 32px;
  left: 25px;
}

.part--individual .part__description
{
  width: 300px;
  position: relative;
  bottom: 14px;
  left: 20px;
}

.part--class .part__description
{
  width: 100%;
  position: relative;
  bottom: -10px;
  left: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .advantages__list
  {
  padding-right: 20px;

  }
}
