.advantages
{
  height: 790px;
  background-color: $background-color;
  margin-top: -76px;
}

.advantages__title
{
  font-family: "ExoTwo-Light";
  font-size: 24px;
  color: #fff;
  margin-left: 535px;
  position: relative;
  top:45px;
}

.advantages__title::after
{
  content: "";
  position: absolute;
  width: 155px;
  height: 2px;
  background-image: url("../img/line.png");
  top: 36px;
  left: 95px;
}

.advantages__list
{
  width: 1050px;
  list-style-type: none;
  display: flex;
  margin-left: 180px;
  margin-top: 130px;
}

.advantages__list::after
{
  content: "";
  position: absolute;
  width: 651px;
  height: 2px;
  background-image: url("../img/big_line.png");
  margin-top: 235px;
  margin-left: 160px;
}

.advantages__item
{
  width: 270px;
  font-family: "ExoTwo-Light";
  font-size: 15px;
  color: #fff;
  margin-top:90px;
  &--technology::before
  {
    content: "";
    position: absolute;
    width: 103px;
    height: 78px;
    background-image: url("../img/img_tech.png");
    margin-top: -90px;
  }

  &--sale
  {
    width: 135px;
    margin-left: 80px;
  }

  &--sale::before
  {
    content: "";
    position: absolute;
    width: 69px;
    height: 63px;
    background-image: url("../img/img_percent.png");
    margin-top: -90px;
  }

  &--hours
  {
    width: 215px;
    margin-left: 65px;
  }

  &--hours::before
  {
    content: "";
    position: absolute;
    width: 95px;
    height: 69px;
    background-image: url("../img/img_hours.png");
    background-repeat: no-repeat;
    margin-top: -90px;
  }

  &--work
  {
    width: 225px;
    margin-left: 65px;
  }

  &--work::before
  {
    content: "";
    position: absolute;
    width: 71px;
    height: 68px;
    background-image: url("../img/img_work.png");
    margin-top: -90px;

  }
}

.advantges__blocks
{
  width: 1050px;
  display: flex;
  flex-direction: row;
  margin-left: 230px;
  margin-top: 130px;
}

.part
{
  width: 280px;
}

.part:nth-child(2)
{
  margin-left: 80px;
}

.part:nth-child(3)
{
  margin-left: 80px;
}

.part__title
{
  font-family: "ExoTwo-Regular";
  font-size: 18px;
  color: #fff;
}

.part--education .part__title
{
  position: relative;
  bottom: 7px;
  left: 5px;
}

.part--individual .part__title
{
  width: 175px;
  position: relative;
  bottom: 7px;
}

.part--class .part__title
{
  width: 130px;
  position: relative;
  bottom: 7px;
  left: 5px;
}

.part__description
{
  font-family: "ExoTwo-Regular";
  font-size: 15px;
  color: #fff;
}

.part--education .part__description
{
  width: 300px;
  position: relative;
  bottom: 12px;
  left: 5px;
}

.part--individual .part__description
{
  width: 300px;
  position: relative;
  bottom: 14px;
}

.part--class .part__description
{
  width: 300px;
  position: relative;
  bottom: 16px;
  left: 5px;
}
