.application
{
  height: 495px;
  background-color: $background-color;
  position: relative;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.application__title
{
  width: 495px;
  font-family: "ExoTwo-Light";
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 40px;
  right: 10px;

}

.application__title::after
{
  content: "";
  position: absolute;
  width: 155px;
  height: 2px;
  background-image: url("../img/line.png");
  top: 80px;
  right: 150px;
}

.application__form
{
  width: 610px;
  height: 270px;
  background-color: #bdcdd3;
  border-radius: 4px;
  margin-left: -20px;
}

.application__form--title
{
  width: 390px;
  text-align: center;
  font-family: "ExoTwo-Regular";
  font-size: 20px;
  color: #2a2a2a;
  padding-left: 110px;
}

#application input
{
  width: 240px;
  height: 40px;
  border: none;
  border-radius: 4px;
  margin-left: 30px;
  font-family: "ExoTwo-Light";
  font-size: 15px;
  padding-left: 15px;
}

input#applicationName
{
  background-image: url("../img/people.png");
  background-repeat: no-repeat;
  background-position: 230px 10px;
  padding-right: 10px;
}

input#applicationTelephone
{
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-position: 230px 10px;
}

.boxes
{
  margin-top: 15px;
  margin-left: 35px;
}


input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  font-family: "ExoTwo-Light";
  font-size: 10px;
  color: #707070;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.applicationButton
{
  width: 250px;
  background-color: transparent;
  border: 2px solid #fcd149;
  border-radius: 22px;
  font-family: "ExoTwo-Bold";
  text-transform: lowercase;
  font-size: 15px;
  color: #2a2a2a;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 30px;
  margin-left: 185px;
  cursor: pointer;
}

.applicationButton:hover
{
  background-color: #fcd149;
  color: #fff;
}


.applicationButton:active
{
  background-color: #fcd149;
  color: #fff;
}

@media screen and (min-width: 960px) and (max-width: 1200px) {

  .application__title
  {
    right: 0px;
  }

  .application__title::after
  {
    content: "";
    position: absolute;
    width: 155px;
    height: 2px;
    background-image: url("../img/line.png");
    top: 80px;
    right: 180px;
  }

}
