.nav {
  top: 10px;
  left: 50%;
  bottom: 50px;
  left: 50%;
  width: 310px;
  height: 60px;
  margin-top: -25px;
  background: #2c5f76;
}
.nav:hover .link {
  width: 5%;
}
.nav .link {
  position: relative;
  float: left;
  width: 30px;
  height: 100%;
  color: #fff;
  transition: .5s width;
  overflow: hidden;
  cursor: pointer;
}
.nav .link:last-child {
  border-right: 0;
}
.nav .link:hover {
  width: 80%;
}
.nav .link .small {
  position: absolute;
  top: 8px;
  left: 0;
  line-height: 78px;
  text-align: center;
  font-family: "Fontawesome";
  font-size: 24px;
}

.nav .link .small::before {
  content: "Меню";
  font-family: "ExoTwo-Light";
  position: absolute;
  background-image: none;
  font-size: 7px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: -15px;
}

.nav .link .full {
  position: absolute;
  left: 20px;
  text-transform: uppercase;
}
.nav .link .full .menu_list {
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: -30px;
}

.menu_item
{
  padding-right:7px;
  padding-top: 15px;
}

.menu_item a
{
  font-family: "ExoTwo-Light";
  font-size: 10px;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
}

.menu_item a:hover
{
  font-family: "ExoTwo-Bold";
  font-size: 10px;
  line-height: 28px;
  color: #fff;
  padding-right:0px;
  padding-top: 5px;
  text-decoration: underline;
}

.nav .link .full .f2 {
  margin-top: 8px;
  font-size: 12px;
}
.nav .link .prev {
  position: absolute;
  top: 0;
  left: 7px;
  font-family: "Fontawesome";
  font-size: 12px;
  line-height: 78px;
  transition: .5s opacity;
  opacity: 0;
}
.nav .link:hover .prev {
  opacity: 0;
}
.nav:hover .prev {
  opacity: 1;
}

.page-header__categories
{
  display: flex;
  position: relative;
  margin-left: 0px;
}

.phone_information
{
  width: 125px;
  text-align: right;
}

.phone
{
  width: 210px;
  float: right;
}

.phone::after
{
  content: "";
  position: absolute;
  width: 24px;
  height: 25px;
  background-image: url("../img/phone-call.png");
  margin-top: -60px;
  left: 135px;
}

.phone__number
{
  font-family: "ExoTwo-Bold";
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  position: relative;
  bottom: 5px;
}

.phone__description a
{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.phone__description
{
  width: 125px;
  font-family: "ExoTwo-Light";
  font-size: 10px;
  line-height: 17px;
  color: #fff;
  position: relative;
  bottom: 22px;
}

.map
{
  width: 190px;
  float: right;
}

.map_information
{
  width: 100px;
  text-align: right;
}
.map::after
{
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-image: url("../img/map.png");
  margin-top: -60px;
  left: 320px;
}

.map__hours
{
  font-family: "ExoTwo-Bold";
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  position: relative;
  bottom: 5px;
}

.map__scheme
{
  font-family: "ExoTwo-Light";
  font-size: 10px;
  line-height: 17px;
  color: #fff;
  position: relative;
  position: relative;
  bottom: 22px;
}

.map__scheme a
{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.education
{
  width: 190px;
  float: right;
}

.education::after
{
  content: "";
  position: absolute;
  width: 27px;
  height: 29px;
  background-image: url("../img/img_educ.png");
  margin-top: -58px;
  left: 470px;
}

.education__write
{
  font-family: "ExoTwo-Bold";
  font-size: 10px;
  line-height: 16px;
  color: #fff;
  position: relative;
  bottom: 5px;
}

.education__on
{
  font-family: "ExoTwo-Light";
  font-size: 10px;
  line-height: 17px;
  color: #fff;
  position: relative;
  bottom: 22px;
}

.education__on a
{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .nav {
    top: 10px;
    left: 50%;
    bottom: 50px;
    width:90px;
    height: 60px;
    margin-top: -25px;
    background: #2c5f76;
  }

  .nav .link .full {
    position: absolute;
    left: 0px;
    text-transform: uppercase;
    margin-top: 40px;
}

.nav .link {
    position: relative;
    width: 20px;
    height: 100%;
    color: #fff;
    -webkit-transition: .5s width;
    transition: .5s width;
    overflow: hidden;
    cursor: pointer;
    margin-left: 25px;
}

.nav .link:hover {
  position: relative;
  width: 20px;
  height: 100%;
  color: #2c5f76;
  border-right: 1px solid rgba(255, 255, 255, 1);
  transition: .5s height;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  margin-left: 0;
}

.nav .link:hover .small
{
  left: 25px;
}

  .nav .link:hover {
    width: 80%;
    height: 200px;
    background-color: #fff;
  }

  .nav .link .full .menu_list {
      font-weight: bold;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style-type: none;
      margin-left: -30px;
  }

  .menu_item
  {
    font-family: "ExoTwo-Regular";
    font-size: 10px;
    line-height: 28px;
    color: #2c5f76;
    padding-right:0px;
    padding-top: 5px;
  }

  .menu_item a
  {
    color: #2c5f76;
    cursor: pointer;
  }

  .menu_item a:hover
  {
    color: #2c5f76;
    cursor: pointer;
  }

  .phone
  {
    width: 190px;
    float: right;
  }

  .phone::after
  {
    content: "";
    position: absolute;
    width: 24px;
    height: 25px;
    background-image: url("../img/phone-call.png");
    margin-top: -60px;
    left: 130px;
  }

  .phone__number
  {
    font-family: "ExoTwo-Bold";
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    position: relative;
    bottom: 5px;
  }

  .phone__description
  {
    width: 125px;
    font-family: "ExoTwo-Light";
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    position: relative;
    bottom: 22px;
    border-bottom: 1px solid #fff;
  }

  .phone__description a {

    border-bottom: none;
}

  .map
  {
    width: 150px;
    float: right;
  }

  .map::after
  {
    content: "";
    position: absolute;
    width: 20px;
    height: 25px;
    background-image: url("../img/map.png");
    margin-top: -60px;
    left: 285px;
  }

  .map__hours
  {
    font-family: "ExoTwo-Bold";
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    position: relative;
    bottom: 5px;
  }

  .map__scheme
  {
    width: 70px;
    font-family: "ExoTwo-Light";
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    position: relative;
    position: relative;
    bottom: 22px;
    border-bottom: 1px solid #fff;
  }


  .education
  {
    width: 100px;
  }


  .education::after
  {
    content: "";
    position: absolute;
    width: 27px;
    height: 29px;
    background-image: url("../img/img_educ.png");
    margin-top: -58px;
    left: 410px;
  }

  .education__write
  {
    font-family: "ExoTwo-Bold";
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    position: relative;
    bottom: 5px;
  }

  .education__on
  {
    width: 58px;
    font-family: "ExoTwo-Light";
    font-size: 10px;
    line-height: 17px;
    color: #fff;
    position: relative;
    bottom: 22px;
    border-bottom: 1px solid #fff;
  }

  .education__on a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-bottom:none;
}




}
