.page-header
{
  display: flex;
  flex-direction: row;
  height: 38px;
  background-color: $background-color;
  justify-content: center;
  align-content: space-between;
}

.page-header__logo
{
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-header__phone
{
  font-family: "ExoTwo-Bold";
  font-size: 12px;
  color: #fff;
  border-left: 1px solid rgb(52, 75, 86);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}


@media screen and (min-width: 960px) and (max-width: 1200px) {

  .page-header__phone
  {
    font-family: "ExoTwo-Bold";
    font-size: 12px;
    color: #fff;
    border-left: 1px solid rgb(52, 75, 86);
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
